<main class="container mx-auto p-8 text-center">
    <h1 class="text-4xl font-bold text-blue-600">Sobre a aplicação</h1>
    <p class="text-lg text-gray-700 mt-4">
        Com My Library, os usuários podem adicionar seus livros em sua biblioteca, podendo visualizar seus livros, editar os dados de um livro, 
        excluir um livro e marcar um livro como lido. Além disso, os usuários podem visualizar a lista de livros lidos e não lidos.
    </p>
    <a href="/" class="mt-6 inline-block bg-gray-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-gray-700">
        Voltar para Home
    </a>
</main>